.area_sugestao{
    display: flex;
    justify-content: space-between;
    width: 319px;
    height: 19px;
    margin-top: 10px;
}

.area_sugestao .principal_sg{
    font-size: 13.5px;
    font-weight: 600;
    color: #787878;
    margin-left: 7px;
}

.botao_verTudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_verTudo .botao_sg{
    font-size: 12px;
    font-weight: 600;
    color: #000;
    margin-right: 8px;
    cursor: pointer;
}

.botao_verTudo .botao_sg:hover{
    color: #d1d1d1;
}