.config{
    display: flex;
    width: 14vw;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    align-items: center;
    margin: 11.5vh 0px 20px 15px;
    cursor: pointer;
}

.config:hover{
    background-color: #efefef;
}

.config_icone{
    font-size: 26px;
}

.config_text{
    font-size: 15px;
    margin-left: 12px;
    margin-bottom: 2px;
}